.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 0;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.modal__content {
  background: #fff;
  padding: 33px 50px 46px;
  max-width: 730px;
  position: relative;
  width: 100%;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
}

.modal__content_type_preview {
  padding: 0;
  margin: 81px auto 40px;
  background-color: transparent;

}

.modal__image {
  width: 100%;
  margin: auto;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  gap: 0px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
  background-size: 35px 35px;
}

.modal__close-btn_type_preview {
  width: 40px;
  height: 40px;
  top: -12px;
  right: -36px;
  background-color: inherit;
  background-image: url("../images/close-icon-white.svg");
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__content_type_preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background: transparent;
  max-width: unset;
  width: unset;
}

.modal__caption {
  max-width: 214px;
  background: #212121;
  align-self: flex-start;
  color: #ffffff;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 8px 0 0;
  left: 0;
  top: calc(100% + 10px);
}

.modal__title {
  margin: 0 0 32px;
  width: 169px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(33, 33, 33, 1);
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  letter-spacing: 0%;
  color: hsla(0, 0%, 13%, 0.7);
}

.modal__input {
  padding: 16px 12px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 13%, 0.4);
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  color: hsla(0, 0%, 13%, 0.3);
}

.modal__submit-btn {
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 32px;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0px;
  background: rgba(33, 33, 33, 1);
  font-family: "Poppins", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(252, 245, 229, 1);
  transition: opacity 0.3s ease-in-out;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__content {
    padding: 12px;
 
  }

  .modal__image {
    max-width: 100%;
    max-width: 288px;
    border-radius: 4px;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    line-height: 20px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    max-width: 40px;
    max-height: 40px;
    top: -41px;
    right:10px;
  }

  .modal__label {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  .modal__content {
    width: 288px;
    padding: 15px;
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal__content_type_preview{
    padding:0;
  }

  .modal__caption {
      font-size: 14px;
      text-align: center;
      max-width: 100%;
      padding: 8px 12px;
  }

  .modal__title {
    width:246px;
    height:40px;
    font-size:20px;
    line-height: 20px;
    justify-content:space-between;
    align-items: center;
    width:100%;
  }

  .modal__label {
    font-size: 16px; 
    line-height:16px;
    
  }

  .modal__input{
    box-sizing: border-box;
    max-width: 276px;
    padding: 16px 12px 16px 12px;
    gap: 10px;
    height: 48px;
  }

  .modal__save-btn{
    width:276px;
    height:52px;
    padding:18px 32px 18px 32px;
    gap:8px;
  }
  .modal__close-btn {
    position:absolute;
    right: 5px;
  }

  .modal__close-button_type_preview {
    top: -41px;
  }


}