.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    visibility: hidden;
  }
  
  .modal_opened {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  
  .modal__content {
    width: 100%;
    box-sizing: border-box;
    max-width: 730px;
    background-color: #ffffff;
    padding: 36px 50px 32px;
    position: relative;
    border-radius: 8px;
  }

  .modal__content_type_preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    max-width: unset;
    width: unset;
  }
  
  .modal__title {
    margin: 0 0 36px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .modal__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    gap: 0px;
    opacity: 0.4;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-image: url("../images/Close-button.svg");
    background-size: contain;
  }
  
  .modal__close-btn:hover {
    cursor: pointer;
    opacity: 100%;
  }
  
  .modal__label {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
  }

  .modal__close-btn_type_preview {
    top: 0;
    right: -52.5px;
  }
  
  .modal__input:hover {
    border-color: #212121;
    cursor: pointer;
  }
  
  .modal__input {
    font-family: poppins, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 16px;
    margin-bottom: 32px;
    box-sizing: border-box;
    width: 100%;
    border-color: #838383;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #21212166;
    border-radius: 8px;
  }
  
  .modal__submit-btn {
    border-radius: 8px;
    background-color: #212121;
    padding: 18px 32px;
    width: 156px;
    height: 52px;
    color: #fcf5e5;
    align-self: flex-end;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    gap: 8px;
    white-space: nowrap;
    transition:0.3 s;
  }
  
  .modal__submit-btn:hover {
    transition-timing-function: ease;
    background-color: #212121cc;
    cursor: pointer;
  }
  
  @media screen and (max-width: 627px) {
    .modal__container {
      max-width: 300px;
    }
  
    .modal__header {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }
  
    .modal__label {
      font-size: 16px;
      line-height: 18px;
    }
  
    .modal__input {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
    }
  }
  @media screen and (max-width: 320px) {
    .modal__container {
      width: 300px; 
      padding:12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .modal__header {
      width:246px;
      height:40px;
      font-size:20px;
      line-height: 20px;
      justify-content:space-between;
      align-items: center;
      width:100%;
    }


    .modal__close-btn{
      display: flex;
      position: absolute;
      border-style: none;
      border-radius: 0;
      top: 32px;
      left: 87.5%;
      width: 40px;
      height: 40px;
      opacity: 40%;
      color: #fff;
      background-image: url(../images/modalCloseButton.svg);
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
    }
  
    .modal__label {
      font-size: 16px; 
      line-height:16px;
      width:49px;
      height: 18px;
      
    }
  
    .modal__input{
      width:276px;
      height:48px;
      padding:16px 12px 16px 12px;
      gap:10px;
     
    }
 
    .modal__save-btn{
      width:276px;
      height:52px;
      padding:18px 32px 18px 32px;
      gap:8px;
    }
  }